<section>
  <h1>Developer Form</h1>
  <form class="form-list" [formGroup]="formDeveloper" (ngSubmit)="submit()">
    <label for="first-name" class="label-form"> Name: </label>
    <input id="first-name" type="text" class="input-form" formControlName="firstNAme">
    <label for="second-name"  class="label-form"> Second Name: </label>
    <input id="second-name" type="text" class="input-form" formControlName="secondName">
    <label for="date-of-birth"  class="label-form"> Date Of Birth: </label>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput id="date-of-birth" [matDatepicker]="picker" formControlName="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <label for="framework"  class="label-form"> Framework: </label>
    <select id="framework"  class="input-form" formControlName="framework">
      <option disabled selected value> -- select -- </option>
      <option *ngFor="let framework of frameworks">{{framework}}</option>
    </select>
    <label for="framework-version"> Version Framework: </label>
    <select id="framework-version"  class="input-form" formControlName="frameworkVersion" *ngIf="chosenFramework">
      <option *ngFor="let frameworkVersion of versionsFrameworks[chosenFramework]">{{ frameworkVersion }}</option>
    </select>
    <label for="email"  class="label-form">Email: </label>
    <input id="email" type="text" class="input-form" formControlName="email">

    <div formGroupName="hobbies" >
      <p> Hobbies: </p>
      <button (click)="addHobby()"> Add hobby</button>
      <div *ngFor="let hobby of formDeveloper.controls['hobbies'].value; let idx = index" class="hobbies">
        <label for="name-hobby"> Name Hobby {{idx + 1}}</label>
        <input id="name-hobby" type="text"  [formControlName]="idx">
      </div>
    </div>
    <button type="submit" [disabled]="formDeveloper.invalid" >Submit Form</button>
  </form>
</section>
